name: Validar Python
on:
  push:
  pull_request:
jobs:
  validar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Instalar pytest
      run: pip install pytest
    - name: Rodar script
      run: python tarefas.py
